@page "/"
<Animate Animation="Animations.FadeRight" Duration="TimeSpan.FromSeconds(1)">
    <div class="row d-flex justify-content-center">
        <div class="card text-white bg-primary mb-3" style="max-width: 50rem;">
            <div class="card-header">¡Hola!</div>
            <div class="card-body">
                <h5 class="card-title">Hecho por: Luis Alberto López Gutiérrez</h5>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</Animate>
